<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rails.purchaseplatform.web">

    <application>


        <!--        我的收藏-->
        <activity
            android:name=".ui.CollectActivity"
            android:screenOrientation="portrait" />


        <!--        浏览记录-->
        <activity
            android:name=".ui.BrowseActivity"
            android:screenOrientation="portrait" />


        <!--         我的消息-->
        <activity
            android:name=".ui.MsgActivity"
            android:screenOrientation="portrait" />


        <!--通用-->
        <activity
            android:name=".ui.CommonActivity"
            android:screenOrientation="portrait" />

        <!--更改密码-->


        <!--审批-->
        <activity
            android:name=".ui.ApproveActivity"
            android:screenOrientation="portrait" />


        <!--订单详情-->
        <activity
            android:name=".ui.OrderDetailActivity"
            android:screenOrientation="portrait" />

        <!--评价-->
        <activity
            android:name=".ui.EvaluteActivity"
            android:screenOrientation="portrait" />
        <!--采购单详情-->
        <activity android:name=".ui.PurchaseDetailActivity"
            android:screenOrientation="portrait"/>


    </application>

</manifest>