<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rails.purchaseplatform.user">

    <application>

        <!--注册-->
        <activity
            android:name=".ui.activity.RegisterActivity"
            android:screenOrientation="portrait" />


        <!-- 登录页面 -->
        <activity
            android:name=".ui.activity.LoginActivity"
            android:screenOrientation="portrait" />

        <!-- 找回密码页面 -->
        <activity
            android:name=".ui.activity.RetrievePasswordActivity"
            android:screenOrientation="portrait" />

        <!-- 找回密码2 -->
        <activity
            android:name=".ui.activity.RetrievePasswordConfirmActivity"
            android:screenOrientation="portrait" />


        <!--设置-->
        <activity
            android:name=".ui.activity.SettingActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>