<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rails.purchaseplatform.user">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_NUMBERS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application>
        <activity
            android:name=".ui.activity.AboutUsActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <!-- 密码修改 -->
        <activity
            android:name=".ui.activity.ModifyPswActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" /> <!-- 注册 -->
        <activity
            android:name=".ui.activity.RegisterActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" /> <!-- 登录页面 -->
        <activity
            android:name=".ui.activity.LoginActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" /> <!-- 找回密码页面 -->
        <activity
            android:name=".ui.activity.RetrievePasswordActivity"
            android:screenOrientation="portrait" /> <!-- 找回密码确认 -->
        <activity
            android:name=".ui.activity.RetrievePasswordConfirmActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" /> <!-- 设置 -->
        <activity
            android:name=".ui.activity.SettingActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activity.CerErrorActivity"
            android:launchMode="singleTop"
            android:exported="false" /> <!-- 启动页/欢迎页 -->
    </application>

</manifest>