<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rails.purchaseplatform.market">

    <application>
        <activity
            android:name=".ui.activity.ImageZoomActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ImageZoomTranslucentTheme" />
        <activity
            android:name=".ui.activity.CartActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.MarketActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.SearchResultActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.ProductDetailsActivity"
            android:screenOrientation="portrait" /> <!-- 商铺详情 -->
        <activity
            android:name=".ui.activity.ShopDetailActivity"
            android:screenOrientation="portrait" /> <!-- 结果页面 -->
        <activity
            android:name=".ui.activity.CommitResultActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>