<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rails.purchaseplatform.market">

    <application>

        <activity
            android:name=".ui.activity.MarketActivity"
            android:screenOrientation="portrait" />


        <activity
            android:name=".ui.activity.WebActivity"
            android:screenOrientation="portrait" />


        <activity
            android:name="com.rails.purchaseplatform.market.ui.activity.SearchResultActivity"
            android:screenOrientation="portrait" />

    </application>

</manifest>